.container-sm{
            padding:10% 25%;
        }
        .container{
            padding:20px;
            border-radius: 10%;
            border: 2px solid black;
        }
        .form{
            margin:10px 0px;
            width:100%;
        }
