img {
        height: 260px;
        width: 260px;
        border-radius: 50%;
    }
      .col{
        margin:10px 0px;
      }
      .container{
        margin:10px auto;
      }
      .card{
        height:350px;
      }

      .btn{
        margin:5px 0px;
      }
